@import "tailwindcss";
@import "@heroui/styles"; 
@plugin "daisyui";


@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes backSlide {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes borrowPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(127, 29, 29, 0.5);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(127, 29, 29, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(127, 29, 29, 0);
  }
}

.back-animation {
  animation: backSlide 0.8s ease-out both !important;
}

.borrow-animation {
  animation: borrowPulse 2s ease-in-out infinite !important;
}